# Ignore virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (if applicable)
.vscode/

# macOS stuff
.DS_Store

# Environment files
.env
